

*  {
  font-family: monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  width: 100%;
  height: 100vh;
  display: grid;
  background-color: #484848;
  color: #ffffff;
  place-content: center;
}

#game {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;

  border: 2px solid #ffffff;
  border-radius: 10px;
  
  #tetris {
    position: relative;
    z-index: -1;
  }

  .data {
    height: 100%;
    border: 1px solid #ffffff;
    border-radius: 0 10px 10px 0;
    padding: 20px;
  }
}

#game-over {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000008c;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  user-select: none;
  text-transform: uppercase;

  .title {
    letter-spacing: 10px;
    font-size: 2.5rem;
  }
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}
button:hover {
  opacity: .5;
}