

*  {
  font-family: monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  width: 100%;
  height: 100vh;
  display: grid;
  background-color: #484848;
  color: #ffffff;
  place-content: center;
}

#game {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;

  border: 2px solid #ffffff;
  border-radius: 10px;

  .game-box {
    position: relative;
  }

  #tetris {
    position: relative;
    z-index: -1;
  }

  .data {
    height: 100%;
    border: 1px solid #ffffff;
    border-radius: 0 10px 10px 0;
    padding: 20px;
  }
}

#game-over {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0000008c;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  user-select: none;
  text-transform: uppercase;

  .title {
    letter-spacing: 10px;
    font-size: 2.5rem;
  }
}

.modal-play {
  position: absolute;
  top: 0;
  border-radius: 10px 0 0 10px;
  width: 100%;
  height: 100%;
  background-color: #0000008c;
  display: flex;
  /* visibility: hidden; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  user-select: none;
  text-transform: uppercase;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}
button:hover {
  opacity: .5;
}

#phone-controller {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  color: white;
  border-radius: 10px;
  border: 2px solid white;
  transform: rotate(100);

  #Outline {
    height: 50px;
    width: 50px;
  }

  .button {
    display: inline-block;
    position: absolute;
  }
  .button:active {
    background-color: rgba(255, 255, 255, 0.201);
    border-radius: 10px;
  }

  .right {
    top: 30%;
  }
  .up {
    right: 32%;
  }
  .left {
    top: 30%;
    right: 0;
  }
  .down {
    right: 32%;
    bottom: 0;
  }
}